#-e git+https://github.com/elderlabs/betterdisco@f8dd7d7a3d70a5c48c1bfaa2b1a9ba814679a9f2#egg=disco-py
git+https://github.com/elderlabs/holster#egg=holster
requests[security]
earl-etf
gipc
yt-dlp
pynacl
pyyaml
Flask[async]
wheel
