-e git+https://github.com/elderlabs/betterdisco@e63e109d9c389ca139513adb93240565b7c667d9#egg=disco-py
-e git+https://github.com/elderlabs/holster#egg=holster
requests[security]
earl-etf
gipc
youtube_dl
pynacl
pyyaml
Flask[async]
wheel